@media all and (orientation:landscape){
	#notice_background{
	    background-color:red; 
	    width:200px;
	    height: 300px;
	    position: fixed;
	    display: none;
	}
}
@media all and (orientation:portrait){
	#notice_background{
		background-color:red; 
		width:200px;
		height: 300px;
		position: fixed;
		display: block;
	}
}
