<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="../Js/Array.js"></script>
    <div>
        <h1>concat</h1>
        <pre>
            concat() 方法用于连接两个或多个数组。该方法不会改变现有的数组，而仅仅会返回被连接数组的一个副本。
            arrayObject.concat(arrayX,arrayX,......,arrayX)
        </pre>
    </div>
</body>
</html>