<!DOCTYPEhtmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<htmlxmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title>¶àÐÐÎÄ×ÖÊµÏÖ´¹Ö±¾ÓÖÐ</title> 
<metahttp-equiv="Content-Type"content="text/html;charset=utf-8"/> 
<script type="text/javascript" src="../jquery-1.10.2.min.js"></script>
<style type="text/css"> 
	#apps-subMenus-lv1 {
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 15px 15px 10px 15px;
    z-index: 214748364;
    background-color: rgba(237,237,253,0.95);
    color: #444444;
    line-height: normal;
    list-style: outside none none;
    cursor: default;
    display: none;
}
</style> 
</head> 
<body> 
	<div id="apps-subMenus-lv1"> 
	</div>
    <div id="cc">区别就是“”的时候不显示div的padding<div> 
	<div id="blockd" >出现</div>
	<script type="text/javascript">
        $("#blockd").bind("click",function(){
            $("#apps-subMenus-lv1").css("display","");
            $("#apps-subMenus-lv1").val("12212");
            $("#cc").css("background-color","red");
        })
	</script>
</body> 
</html> 
