<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <script type="text/javascript" src="jquery-1.9.0.min.js"></script>
   <style type="text/css">
      #one-outer{
        background-color: #FFF200;
      }
      #one_inner{
        background-color:red;
      }
      /*控制水平*/
      #one-outer{
        width:100px;
        /*width: 100%;*/
      }
      #one_inner{
        width: 50px;
        margin-left:auto;
        margin-right:auto;
      }
      /*控制垂直*/
      #one-outer{
        padding-top:20px;
        padding-bottom:20px;
      }
      #one_inner{
        height:50px;
      }
   </style>
</head>
<body>  
   <div id="one-outer">
      <div id="one_inner">
           
      </div>
   </div>
   <div>

   </div>
</body>
</html>