<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style type="text/css">
		.Center-Container {
			width: 300px;
			height: 300px;
			position: relative;
		}
		
		.Absolute-Center {
			width: 50%;
			height: 50%;
			overflow: auto;
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		</style>
	</head>
	<body>
		<div id="Center-Container"><div id="Absolute-Center">sdf</div></div>
	</body>
</html>