<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <style type="text/css">
        #one{
            width: 200px;
            height: 26px;
            background-color: red;
            display: inline-block;
        }
        #two{
            width: 200px;
            height: 26px;
            background-color: green;
            display: inline-block;
        }

    </style>
</head>
<body>  
  <div id="one">    
 </div>
 <div id="two">
 </div>
</body>
</html>