<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <style type="text/css">
       #main{
        width: 430px;
        background-color: #A6C628;
       }
       #one{
        width: 10px;
        background-color: #5f5f5f;
        display: inline-block;
       }
       #two{
        background-color: #990000;
        display: inline-block;
       }
       #three{
        display: inline-block;
        overflow: hidden;
        text-overflow:ellipsis;
        word-wrap:break-word;
        white-space:nowrap;
        width: 200px;
       }
    </style>
</head>
<body>  
    <div id="main">
        <div id="one"></div>
        <div id="two">sdfffffffffffffsfdsdfsdfsfdsdfsdfsdffffffffdfsdfs</div>
        <div id="three">qweqweqweqweqweqweqescdsxc</div>
    </div>
</body>
</html>