<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <script type="text/javascript" src="jquery-1.9.0.min.js"></script>
   <style type="text/css">
       #color{
        height: 975px;
        border: 10px solid red;
        width: 80%;
        background-color:yellow; 
       }
       body{
        margin: 0px;
       }
   </style>
</head>
<body>  
  <div id="color">
    <div id="yellow"></div>
    <div id="red"></div>
    <div id="blue"></div>
    <div id="green"></div>
  </div>
</body>
</html>