<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title></title>
		<style type="text/css">
			
			body *{
				margin: 20px;
				padding: 20px;
				border: 2px solid red;
				background-color: green;
			}
			.outter{
				background-color: yellow;
				margin-bottom: 10px;
			}
			a{
				margin:50px;
			 
			}
		</style>
	</head>
	<body>
		<div class="outter">
			<div id="apps-megaMenu-ul">
				div
			</div>
		</div>
		
		<div class="outter">
			<p>
				p
			</p>
		</div>
		
		<div class="outter">
			<a>a</a><span>c</span>
		</div>
		
		<div class="outter">
			<h1>h</h1>
		</div>
		
		<div class="outter">
			<img src="image/1.jpg"/>
		</div>
		
	</body>
</html>