<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <style type="text/css">
        div{
            width: 2000px;
            height: 26px;
            background-color: yellow;
        }
        tr td:nth-child(2){
          background-color: green;
          display: block;
          width: 20px;
        }
        tr td:nth-child(3){
          width: 99%;
          background-color: red;
        }
    </style>
</head>
<body>  
  <div>
   <table cellspacing="0px" cellpadding="0px">
      <tbody>
          <tr>
            <td>aaaa</td>
            <td></td>
            <td>cccc</td>
          </tr>
      </tbody>
   </table>
 </div>
</body>
</html>