<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="background-color:bisque;white-space: nowrap;width:200px">
            <div style="display:inline-block">dddddddddd</div>
            <div style="display:inline-block">
                <input type="text" style="width:99%">
            </div>
    </div>
</body>
</html>