<!DOCTYPEhtmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<htmlxmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title>¶àÐÐÎÄ×ÖÊµÏÖ´¹Ö±¾ÓÖÐ</title> 
<metahttp-equiv="Content-Type"content="text/html;charset=utf-8"/> 
<script type="text/javascript" src="jquery-1.4.2.min.js"></script>
<style type="text/css"> 
    .apps-homepage-footer-context{
        font-size: 16px;
        color: #ececec;
        background-color: #464646;
        height: 280px;
        width: 100%;
        padding: 40px 106px 0px 84px;
    }
    .apps-homepage-footer-lv1s{
        list-style-type: none;
    }
    .apps-homepage-footer-lv1{
        float: left;
    }
    .pps-homepage-foot-lv2s{
        color:#aeaeae;
    }

</style> 
</head> 
<body> 
	 <div class="apps-homepage-footer-context">
        <ul class="apps-homepage-footer-lv1s">
            <li class="apps-homepage-footer-lv1">
                <div class="apps-homeage-footer-lv1-title">basic info</div>
                <ul class="apps-homepage-foot-lv2s">
                    <li class="app-homeage-foot-lv2">compliance</li>
                    <li class="app-homeage-foot-lv2">Rules and Regulations</li>
                    <li class="app-homeage-foot-lv2">Subsidiary Info</li>
                    <li class="app-homeage-foot-lv2">Inpex Value</li>
                </ul>
            </li>
            <li class="apps-homepage-footer-lv1">
                <div class="apps-homeage-footer-lv1-title">Bulletin</div>
                <ul class="apps-homepage-foot-lv2s">
                    <li class="app-homeage-foot-lv2">compliance</li>
                    <li class="app-homeage-foot-lv2">Rules and Regulations</li>
                    <li class="app-homeage-foot-lv2">Subsidiary Info</li>
                    <li class="app-homeage-foot-lv2">Inpex Value</li>
                </ul>
            </li>
            <li class="apps-homepage-footer-lv1">
                <div class="apps-homeage-footer-lv1-title">Biz Links</div>
                <ul class="apps-homepage-foot-lv2s">
                    <li class="app-homeage-foot-lv2">compliance</li>
                    <li class="app-homeage-foot-lv2">Rules and Regulations</li>
                    <li class="app-homeage-foot-lv2">Subsidiary Info</li>
                    <li class="app-homeage-foot-lv2">Inpex Value</li>
                </ul>
            </li>
            <li class="apps-homepage-footer-lv1">
                <div class="apps-homeage-footer-lv1-title">Tools</div>
                <ul class="apps-homepage-foot-lv2s">
                    <li class="app-homeage-foot-lv2">compliance</li>
                    <li class="app-homeage-foot-lv2">Rules and Regulations</li>
                    <li class="app-homeage-foot-lv2">Subsidiary Info</li>
                    <li class="app-homeage-foot-lv2">Inpex Value</li>
                </ul>
            </li>
            <li class="apps-homepage-footer-lv1">
                <div class="apps-homeage-footer-lv1-title">UseInfo</div>
                <ul class="apps-homepage-foot-lv2s">
                    <li class="app-homeage-foot-lv2">compliance</li>
                    <li class="app-homeage-foot-lv2">Rules and Regulations</li>
                    <li class="app-homeage-foot-lv2">Subsidiary Info</li>
                    <li class="app-homeage-foot-lv2">Inpex Value</li>
                </ul>
            </li>
        </ul>
     </div>
</body> 
</html> 
